@charset "urf-8";
/* CSS Documentacion */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(
    to right,
    hsla(226, 100%, 89%, 0.514),
    hsla(0, 0%, 89%, 0.555)
  );
}

html {
  scroll-behavior: smooth;
}

#beta:hover {
  background-color: #292929;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
  border-radius: 2px;
}

/* PRELOADER */
.hidden {
  overflow: hidden;
}

.centrado {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* FIN PRELOADER */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-size: 1300px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      hsla(226, 100%, 89%, 0.514),
      hsla(0, 0%, 89%, 0.555)
    ),
    url(../images/Pattern-Randomized.svg);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.nav-submenu a {
  width: auto;
  position: absolute;
  left: 35px;
}
.menu li ul {
  display: none;
  position: absolute;
  top: 60px;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
}
.lang {
  color: #292929;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  font-family: "Montserrat", sans-serif;
}

.logo-indes {
  width: 30px;
  transform: rotate(-45deg);
}
.toggle {
  display: none;
}
.active a,
.menu li a:hover {
  background-color: #292929;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}
.menu li:hover ul {
  display: block;
  background-color: #f4f7ff;
  width: 13.5%;
  height: 32px;
}
.img-poli {
  position: relative;
  top: 0px;
  left: 86%;
  margin: 100px;
  margin-top: -300px;
}
.name {
  font-family: "Poppins", sans-serif;
  width: 700px;
  position: absolute;
  left: 20%;
  top: 60%;
  transform: translate(-20%, -50%);
}

.details {
  font-size: 1.3rem;
}

.name p:nth-child(1) .name .details {
  color: #6c707c;
  font-size: 16px;
}

.name h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0px;
  letter-spacing: 2px;
  color: #292929;
}

#about {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 5% 10px;
  position: relative;
}

.about-text {
  font-family: "Poppins", sans-serif;
  width: 50%;
}

.about-text h1 {
  font-size: 3rem;
  color: #63d9ff;
}

.about-text h2 {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 80px;
}

.about-text h1,
h2 {
  margin: 0px;
  padding: 0px;
}

.about-text p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}
.about-model img {
  width: 500px;
  height: 500px;
}
#abouts {
  width: 100%;
  height: 155vh;
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5% 0px;
  position: relative;
}
.about-texts {
  font-family: "Poppins", sans-serif;
  width: 50%;
}
.about-texts h1 {
  font-size: 3rem;
  color: #63d9ff;
  text-align: right;
}
.about-texts h2 {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 80px;
}
.about-texts h1,
h2 {
  margin: 0px;
  padding: 0px;
}
.about-texts p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}
.about-models img {
  width: 500px;
  height: 500px;
}

@media (max-width: 1190px) {
  #main {
    background-size: 1100px !important;
  }

  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }

  .about-model img {
    height: 400px;
  }
  .about-models img {
    height: 400px;
  }
}

@media (max-width: 970px) {
  #main {
    background-image: none !important;
  }
  .img-poli img {
    display: none !important;
  }
  .nav-submenu {
    position: static;
  }

  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    display: none;
  }
  .about-models {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }
  #abouts {
    justify-content: center;
    padding-top: 0px;
  }
  .about-texts {
    width: 90%;
  }
  .about-texts h1 {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -30px;
  }
  .toggle:active:before {
    content: "\f00d" !important;
  }
  nav {
    padding: 10px 30px;
  }
  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 50px;
    transition: 0.5s;
    overflow: hidden;
    display: none !important;
    border: 3px solid #1f1f1f;
  }
  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }
  .active-menu {
    display: block !important;
  }
  nav ul li a:hover {
    background-color: rgba(27, 29, 32, 0.15);
  }

  @media (max-width: 600px) {
    .p-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .c-b-heading {
      font-size: 1.2rem;
      text-align: center;
      margin: 0px 10px;
    }

    .name {
      width: 60%;
    }

    .black-line {
      display: none;
    }

    .social {
      left: 30px;
      margin: -15px;
      transform: translateX(-15px);
    }

    .cv-btn {
      display: none;
    }
  }

  @media (max-width: 400px) {
    .s-box {
      width: 100%;
      height: 400px;
    }
  }
}
